In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
import scipy.stats as st

In [4]:
sales = pd.read_csv('vgsales.csv', sep=',')
pd.set_option("max_columns", 100)
dt = sales
dt.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41490000,29020000,3770000,8460000,82740000
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29080000,3580000,6810000,770000,40240000
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15850000,12880000,3790000,3310000,35820000
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15750000,11010000,3280000,2960000,33000000
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11270000,8890000,10220000,1000000,31370000

In [5]:
confidence = 0.90
st.t.interval(confidence, len(dt)-1, loc=dt["Global_Sales"].mean(), scale=st.sem(dt["Global_Sales"]))

(517578.7650867718, 557288.0863411111)

In [6]:
confidence = 0.95
st.t.interval(confidence, len(dt)-1, loc=dt["Global_Sales"].mean(), scale=st.sem(dt["Global_Sales"]))

(513774.7335381237, 561092.1178897592)

In [7]:
confidence = 0.99
st.t.interval(confidence, len(dt)-1, loc=dt["Global_Sales"].mean(), scale=st.sem(dt["Global_Sales"]))

(506339.3252327365, 568527.5261951464)

In [8]:
confidence = 0.9999
st.t.interval(confidence, len(dt)-1, loc=dt["Global_Sales"].mean(), scale=st.sem(dt["Global_Sales"]))

(490462.1647540868, 584404.6866737962)

In [9]:
confidence = 0.90
st.t.interval(confidence, len(dt)-1, loc=dt["NA_Sales"].mean(), scale=st.sem(dt["NA_Sales"]))

(253341.63661522162, 274194.2110772715)

In [10]:
confidence = 0.90
st.t.interval(confidence, len(dt)-1, loc=dt["NA_Sales"].mean(), scale=st.sem(dt["NA_Sales"]))

(253341.63661522162, 274194.2110772715)

In [11]:
confidence = 0.90
st.t.interval(confidence, len(dt)-1, loc=dt["NA_Sales"].mean(), scale=st.sem(dt["NA_Sales"]))

(253341.63661522162, 274194.2110772715)

In [12]:
confidence = 0.90
st.t.interval(confidence, len(dt)-1, loc=dt["NA_Sales"].mean(), scale=st.sem(dt["NA_Sales"]))

(253341.63661522162, 274194.2110772715)

### Hoe hoger de confidence, hoe groter de interval

In [13]:
## 10% of the rows
index = dt.index
number_of_rows = len(index)
number_of_rows / 10

1659.8

In [14]:
confidence = 0.95
df = dt["Global_Sales"].iloc[0:1659]
st.t.interval(confidence, len(dt)-1, loc=df.mean(), scale=st.sem(df))

(2971738.9572970793, 3355530.4821242588)

In [15]:
confidence = 0.95
df = dt["NA_Sales"].iloc[0:1659]
st.t.interval(confidence, len(dt)-1, loc=df.mean(), scale=st.sem(df))

(1440446.078223311, 1647136.8030304562)

## De interval wordt groter met minder data, ook klopt the nieuwe interval niet omdat de dataset gesorteerd is op basis van wereldwijde verkoop. De bovenste 10% laat dus een veel hogere gemiddelde zien dan als ik alle rows meepak