In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')
dt = lifeExpectancy

In [4]:
dt.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

In [5]:
filter = (dt.Period == 2019) & (dt.Dim1 == "Both sexes")
df = dt[filter]

In [6]:
df

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
12,Albania,2019,Life expectancy at birth (years),Both sexes,78.00
24,Algeria,2019,Life expectancy at birth (years),Both sexes,77.13
36,Angola,2019,Life expectancy at birth (years),Both sexes,63.06
48,Antigua and Barbuda,2019,Life expectancy at birth (years),Both sexes,76.45
...,...,...,...,...,...
2137,Venezuela (Bolivarian Republic of),2019,Life expectancy at birth (years),Both sexes,73.95
2149,Viet Nam,2019,Life expectancy at birth (years),Both sexes,73.74
2161,Yemen,2019,Life expectancy at birth (years),Both sexes,66.63
2173,Zambia,2019,Life expectancy at birth (years),Both sexes,62.45
2185,Zimbabwe,2019,Life expectancy at birth (years),Both sexes,60.68

In [12]:
df["First Tooltip"].mean()

72.54049180327873

In [8]:
columns = ["Location", "First Tooltip"]

# 5 Countries with lowest life expectancy

In [9]:
dfBottom5 = df.sort_values(by="First Tooltip")
dfBottom5[columns].iloc[0:5]

                      Location  First Tooltip
1117                   Lesotho          50.75
373   Central African Republic          53.10
1801                   Somalia          56.47
661                   Eswatini          57.73
1333                Mozambique          58.14

# 5 Countries with highest life expectancy

In [10]:
dfTop5 = df.sort_values(by="First Tooltip", ascending = False)
dfTop5[columns].iloc[0:5]

               Location  First Tooltip
997               Japan          84.26
1897        Switzerland          83.45
1573  Republic of Korea          83.30
1837              Spain          83.22
1753          Singapore          83.22