In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
import scipy.stats as st

In [4]:
sales = pd.read_csv('vgsales.csv', sep=',')
pd.set_option("max_columns", 100)
dt = sales
dt.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41490000,29020000,3770000,8460000,82740000
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29080000,3580000,6810000,770000,40240000
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15850000,12880000,3790000,3310000,35820000
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15750000,11010000,3280000,2960000,33000000
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11270000,8890000,10220000,1000000,31370000

In [6]:
confidence = 0.95
st.t.interval(confidence, len(dt)-1, loc=dt["Global_Sales"].mean(), scale=st.sem(dt["Global_Sales"]))

(513774.7335381237, 561092.1178897592)